body,
html {
    background-color: #fafafafa;
    width: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

:-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #ccc;
}

:focus {
    outline: none;
}

.buttons {
    display: grid;
}

svg {
    position: absolute;
    margin: 22px 26px;
}

nav {
    background-color: #5865f2;
    min-height: 100vh;
    width: 128px;
    position: relative;
    top: 0;
    left: 0;
}

ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    margin-bottom: 16px;
}

li:last-child button {
    margin-top: -20px
}

button {
    margin-top: 110px;
    margin-bottom: 16px;
    width: 100% !important;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, .02) 0 1px 3px 0;
    color: #5865f2;
    cursor: pointer;
    display: inline-flex;
    font-size: 22px;
    font-weight: 600;
    justify-content: center;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    transition: all .25s;
}

button:focus,
button:hover {
    border-color: rgba(0, 0, 0, .15);
    box-shadow: rgba(0, 0, 0, .1) 0 4px 12px;
    color: #5865f2be;
    transform: translateY(-2px)
}

button:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, .15);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    color: #3a45c5a4;
    transform: translateY(0)
}

button[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    top: 50%;
    left: calc(100% + 24px);
    transform: translateY(-50%);
    padding: 6px 8px;
    background-color: #000000c4;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 4px;
    animation: fade .65s ease-in-out;
}

@keyframes fade {

    0%,
    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#chatBox {
    background-color: #eee;
    padding: 20px;
    margin: 20px;
    height: 65%;
    overflow: auto;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}

#chatInput {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;
}